
body{
  text-align: center;
background-color: darkblue;
}

li a {
  display: block;
  color: black; background-color: white
  padding: 8px 16px;
  text-decoration: none;
  background-color: white;
  border-style: solid; border-radius: 30px; border-color: blue;
}

/* Change the link color on hover */
li a:hover {
  background-color: Red;
  color: white;
}
.hone {
  background-color: white;
border-style: solid; border-radius: 30px; border-color: red;
}
.intropara
{
color: Black; background-color: white; font-size:32px;
padding: 8px 16px;
  text-decoration: none; border-style: solid; border-radius: 30px; border-color: red;}
.mvp {
  float: left;
}

.htwo{
color: brown; background-color: grey; font-size:32px;
padding: 8px 16px;
  text-decoration: none; border-style: solid; border-color: gold;}

.mvpstat {
  float: left;
}

table, td, th {
  border: 1px solid red;
}

table {
  width: 100%;
  border-collapse: collapse; color: black; background-color: white
}
td {
  text-align: center;
}
td:hover {background-color: yellow;}

.mvppara{
color: Black; background-color: grey; font-size:24px;
padding: 8px 16px;
  text-decoration: none; border-style: solid; border-radius: 30px; border-color: red;}

.mvppara {
  float: right;
}
